<div class="displayBox">
    <h3>Candidates</h3>
    <ul>
        <li [class.selected]="crew.includes(member)" *ngFor="let member of candidates" (click)="addCrewMember(member)">{{member.name}}</li>
        <!-- this is where the crew is added to the selected crew  -->
        <!-- this is where the color changes when the mouse is over the astronaunt -->
    </ul>
</div>
<hr>
<div class="displayBox">
    <h3>Crew <span *ngIf="crew.length === 3">Full</span></h3> 
    <!-- This is  a span tag here for when the crew reaches 3 -->
    <ol>
        <li *ngFor="let astronaut of crew" (mouseover)="selected = astronaut" (mouseout)="selected = false">{{astronaut.name}}</li>
        <!-- this is where the crew that is added will have their photo pop up when you put your mouse over it -->
    </ol>
    <img *ngIf="selected" [src]="selected.photo"/>
</div>